<h3 style="color:@Colors;background-color:@BackColors"><u>Welcome to the @Department Departments</u> </h3>

@code {
    [Parameter]
    public string Department { get; set; } 

    [Parameter]
    public string Colors { get; set; }

    [Parameter]
    public string BackColors { get; set; }
}
